html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:before, a.desc:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:before {
    content: /*"\e113"*/ "\e151";
}

a.desc:before {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:before {
    content: "\e153";
}

.sort-numerical a.desc:before {
    content: "\e154";
}

.sort-ordinal a.asc:before {
    content: "\e155";
}

.sort-ordinal a.desc:before {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.books-search {
    padding: 20px 20px 10px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.books-search form label {
    font-size: 14px;
    font-weight: 600;
}

.books-search form select {
    margin-right: 20px;
}

.books-search form button {
    float: right;
}

#booksearch-date_from, #booksearch-date_to {
    width: 110px;
}

.field-booksearch-date_to {
    margin-left: 1px;
}

.grid-view th {
    background-color: #e5e5e5;
}

.grid-view img {
    cursor: pointer;
}

.grid-view td a {
    padding: 0 10px;
}

.grid-view td:last-child {
    text-align: center;
}

.view-preview {
    border-bottom: 1px dashed;
    cursor: pointer;
}

.view-preview:hover {
    text-decoration: none;
}

.book-preview {
    display: none;
    max-width: 200px;
}

#login-form {
    margin-top: 30px;
}

#login-form .control-label {
    width: 165px;
}

#login-form .field-loginform-rememberme {
    margin: 15px 0;
}

#loginform-username, #loginform-password {
    width: 220px;
}